<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         name=""
         point="org.eclipse.scout.service.services">
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="com.jf.scout.shared.administration.services.IExtensionService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="com.jf.scout.shared.administration.lookup.IRoleLookupService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="com.jf.scout.shared.administration.ui.desktop.forms.IUserService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="com.jf.scout.shared.administration.ui.desktop.forms.IRoleService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="com.jf.scout.shared.administration.ui.desktop.forms.IAssignToRoleService">
      </proxy>
   </extension>
   <extension
         name=""
         point="org.eclipse.scout.rt.extension.client.desktopExtensions">
      <desktopExtension
            class="com.jf.scout.client.administration.ui.desktop.DesktopExtension"
            active="true">
      </desktopExtension>
   </extension>

</plugin>
