<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         name=""
         point="org.eclipse.scout.service.services">
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.eclipse.scout.rt.server.services.common.bookmark.FileSystemBookmarkStorageService"
            session="com.jf.scout.server.core.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="org.eclipse.scout.rt.server.services.common.workflow.WorkflowProviderService"
            session="com.jf.scout.server.core.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="com.jf.scout.server.core.services.common.security.AccessControlService"
            session="com.jf.scout.server.core.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="com.jf.scout.server.core.services.ConfigurationService"
            session="com.jf.scout.server.core.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="com.jf.scout.server.core.services.common.sql.DBSqlService"
            session="com.jf.scout.server.core.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="com.jf.scout.server.core.services.ExtensionReposService"
            session="com.jf.scout.server.core.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="com.jf.scout.server.core.services.DatabaseService"
            session="com.jf.scout.server.core.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="com.jf.scout.server.core.ui.desktop.forms.DatabaseSetupService"
            session="com.jf.scout.server.core.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="com.jf.scout.server.core.services.CoreService"
            session="com.jf.scout.server.core.ServerSession">
      </service>
   </extension>
   <extension
         name=""
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/process"
            class="org.eclipse.scout.rt.server.ServiceTunnelServlet">
         <init-param
               name="min-version"
               value="0.0.0">
         </init-param>
      </servlet>
      <servlet
            alias="/remotefiles"
            class="org.eclipse.scout.rt.server.RemoteFileServlet">
      </servlet>
      <servlet
            alias="/updatesite"
            class="org.eclipse.scout.rt.server.RemoteFileServlet">
         <init-param
               name="folder"
               value="/updatesite">
         </init-param>
      </servlet>
      <servlet
            alias="/"
            class="org.eclipse.scout.rt.server.ResourceServlet">
         <init-param
               name="bundle-name"
               value="com.jf.scout.server.core">
         </init-param>
         <init-param
               name="bundle-path"
               value="/resources/html">
         </init-param>
      </servlet>
      <servlet
            alias="/ajax"
            class="org.eclipse.scout.rt.server.ServiceTunnelServlet">
      </servlet>
   </extension>
   <extension
         name=""
         point="org.eclipse.scout.rt.server.commons.filters">
      <filter
            aliases="/process /remotefiles /updatesite"
            class="org.eclipse.scout.rt.server.commons.servletfilter.security.BasicSecurityFilter"
            ranking="20">
      </filter>
      <filter
            aliases="/process /remotefiles /updatesite"
            class="org.eclipse.scout.rt.server.commons.servletfilter.security.AnonymousSecurityFilter"
            ranking="30">
      </filter>
      <filter
            aliases="/process /remotefiles /updatesite"
            class="com.jf.scout.server.core.security.DataSourceSecurityFilter"
            ranking="40">
      </filter>
   </extension>
   <extension
         id="app"
         name="Server Application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.jf.scout.server.core.ServerApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         name=""
         point="org.eclipse.core.runtime.products">
      <product
            name="scoutCore Server"
            application="com.jf.scout.server.core.app">
         <property
               name="appName"
               value="scoutCore Server">
         </property>
      </product>
   </extension>

</plugin>
