<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         name=""
         point="org.eclipse.scout.service.services">
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="jfscout.shared.core.services.IStandardOutlineService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="jfscout.shared.core.services.IConfigurationService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="jfscout.shared.core.services.ICoreService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="jfscout.shared.core.services.IExtensionReposService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="jfscout.shared.core.ui.forms.IWelcomeService">
      </proxy>
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="jfscout.shared.core.ui.forms.IDatabaseSetupService">
      </proxy>
   </extension>

</plugin>
