<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         name=""
         point="org.eclipse.scout.service.services">
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="jfscout.server.administration.services.ExtensionService"
            session="jfscout.server.core.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="jfscout.server.administration.services.RoleService"
            session="jfscout.server.core.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="jfscout.server.administration.services.lookup.RoleLookupService"
            session="jfscout.server.core.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="jfscout.server.administration.ui.forms.UserService"
            session="jfscout.server.core.ServerSession">
      </service>
      <service
            factory="org.eclipse.scout.rt.server.services.ServerServiceFactory"
            class="jfscout.server.administration.ui.forms.AssignToRoleService"
            session="jfscout.server.core.ServerSession">
      </service>
   </extension>

</plugin>
