<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <extension id="app" name="Application" point="org.eclipse.core.runtime.applications">
    <application>
      <run class="jfscout.ui.swing.core.SwingApplication"/>
    </application>
  </extension>
  <extension id="product" point="org.eclipse.core.runtime.products">
    <product
          application="jfscout.ui.swing.core.app"
          name="Core">
       <property
             name="appName"
             value="Core">
       </property>
    </product>
  </extension>
</plugin>
