<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         name=""
         point="org.eclipse.scout.service.services">
      <proxy
            factory="org.eclipse.scout.rt.client.services.ClientProxyServiceFactory"
            class="com.jf.scout.shared.ui.wizards.IDatabaseSetupService">
      </proxy>
   </extension>

</plugin>
